nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(35, 47, 63);
  color: white;
  font-size: 14px;
  padding-left: 10px;
}

.mainNav {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  width: 75%;
}

.mainNav,
.burgerMenu,
.prime {
  display: flex;
}

.mainNav li {
  padding: 5px 10px 0px 10px;
  margin: 1px;
}

.mainNav li:hover,
.appImg:hover {
  border: 0.1px solid white;
  cursor: pointer;
  border-radius: 2px;
}

.burgerMenu div {
  font-size: 20px;
  font-weight: lighter;
  padding-right: 3px;
  margin-top: -1px;
}

.burgerMenu {
  font-weight: bold;
}

.arrows {
  color: rgb(167, 172, 178);
  font-size: 20px;
}

.app {
  margin: -10px 0px;
  padding: 1px;
}

.appImg {
  width: 350px;
}
