.sideHeader {
  display: flex;
  color: white;
  padding: 10px 30px 5px 30px;
  background-color: rgb(35, 47, 62);
  cursor: pointer;
}

.sideHeader h2 {
  padding: 5px;
  font-size: 20px;
}

.user {
  font-size: 35px;
}

.category {
  background-color: white;
}

.category li {
  display: flex;
  color: rgb(65, 65, 65);
  line-height: 2.5;
  font-size: 1rem;
  text-transform: capitalize;
  cursor: pointer;
}

h3,
li {
  padding: 2px 30px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}

h3 {
  padding-top: 10px;
}
.sideNav {
  width: 350px;
  height: 100vh;
  overflow-y: scroll;
  box-shadow: 1px 1px 10px 1000000px rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 10000;
}

.sideBarClose {
  position: absolute;
  top: 15px;
  left: 300px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

hr {
  border: 1px solid #cccccc;
}

.sideNav li:hover {
  color: black;
  background-color: rgb(197, 193, 193);
}

li div {
  font-size: 20px;
}
