.slide {
  display: flex;
  overflow: hidden;
}

.slide div {
  width: 100%;
  cursor: pointer;
}

.slide img {
  display: block;
  width: 100vw;
  margin: 0px;
  object-fit: contain;
  z-index: -1;
}

.btn__container {
  position: absolute;
  top: 17%;
  left: 30px;
  right: 30px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.btn__container button {
  font-size: 45px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.slider__section {
  position: relative;
}

.left {
  text-shadow: 2px 2px white;
}

.slide div {
  animation: slide 20s linear;
  animation-delay: 2s;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  5.56% {
    transform: translateX(-100%);
  }
  16.67% {
    transform: translateX(-100%);
  }

  22.23% {
    transform: translateX(-200%);
  }
  33.34% {
    transform: translateX(-200%);
  }

  38.90% {
    transform: translateX(-300%);
  }
  50% {
    transform: translateX(-300%);
  }
  55.56% {
    transform: translateX(-400%);
  }
  66.67% {
    transform: translateX(-400%);
  }
  72.23% {
    transform: translateX(-500%);
  }
  83.34% {
    transform: translateX(-500%);
  }
  88.90% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(0%);
  }
}
